@model Infraestructure.Models.Usuario

@{
    ViewBag.Title = "controlUsuarios";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Control usuarios</title>
    <style>
        body {
            background-image: url(https://fondosmil.com/fondo/6466.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            font-size: 18.5px;
        }

        section {
            background-color: rgba(0,0,0,0.4);
            width: 100%;
            padding-bottom: 1.5%;
        }

        label {
            color: #fff;
        }

        h1 {
            color: #fff;
        }

        p {
            color: #fff;
        }

        .nav {
            background-color: #238926;
            border-radius: 4px;
            font-size: 24px;
            margin-top: 5%;
        }

        ul, ol {
            list-style: none;
        }

        .nav > li {
            float: left;
        }

        .nav li a {
            background-color: #238926;
            color: #fff;
            text-decoration: none;
            padding: 10px 12px;
            display: block;
        }

            .nav li a:hover {
                text-decoration: none;
                background-color: greenyellow;
            }

        .nav li ul {
            display: none;
            position: absolute;
            z-index: 1;
        }

        .nav li:hover > ul {
            display: block;
            margin-left: -40px !important;
        }

        .nav li ul li {
            position: relative;
            font-size: 16px;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            width: 180px;
        }

        #usuario {
            margin-left: 83%;
        }

            #usuario ul li {
                font-size: 14px;
                width: 120px;
            }
    </style>
</head>
<body onload="CONFIRMADO()">
    <main>
        <header>
            <ul class="nav">
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li id="usuario">
                    @{
                        string nombre = "Perfil";
                        int idUsuario = 207870114;
                        Infraestructure.Models.Usuario oUsuario;
                        //Validar si existe en la sesión
                        if (Session["User"] != null)
                        {
                            oUsuario = (Infraestructure.Models.Usuario)Session["User"];
                            if (oUsuario != null)
                            {
                                nombre = $"{oUsuario.nombre}";
                                idUsuario = oUsuario.idUsuario;
                            }
                        }
                    }
                    <a data-toggle="dropdown" href="#" role="button">@nombre</a>
                    <ul>
                        @if (Session["User"] != null)
                        {
                            <li>@Html.ActionLink("" + idUsuario, "Index")</li>

                        }
                        @if (Session["User"] == null)
                        {
                            @Html.ActionLink("Ingresar", "Index", "Usuario", null, new { @style = "font-size: 20px;" })
                        }
                        else
                        {

                            <li>@Html.ActionLink("Cerrar sesión", "Logout", "Usuario", null, new { @class = "dropdown-item " })</li>
                        }
                    </ul>
                </li>
            </ul>
        </header>
        <section>
            <center><h1>Formulario</h1></center>
            <center>
                <p>
                    Acá podrás tanto asociar un rol como habilitar o deshabilitar usuarios ya registrados con anterioridad.
                </p>
            </center>
            <center>
                    <form id="formProd">
                        @Html.AntiForgeryToken()
                        <label for="idUsuario">Usuario</label>
                        <div>
                            @Html.DropDownListFor(model => model.idUsuario, (SelectList)ViewBag.IDUSUARIOS, "-- Selecciona usuario --", new { @class = "form-control", @id = "idUsuario", @name = "idUsuario", style = "width: 30%;" })
                        </div>
                        <label for="idRol">Asignar Rol</label>
                        <div>
                            @Html.DropDownListFor(model => model.idRol, (SelectList)ViewBag.IDROL, "-- Selecciona rol --", new { @class = "form-control", @id = "idRol", @name = "idRol", style = "width: 30%;" })
                        </div>
                        <label for="habilitado">Ingreso al sistema</label>
                        <div>
                            @Html.DropDownListFor(model => model.habilitado, (SelectList)ViewBag.HABILITAR, "-- Selecciona opción --", new { @class = "form-control", @id = "habilitado", @name = "habilitado", style = "width: 30%;" })
                        </div>
                        <p style="color: lawngreen; display: none" id="msg">Datos correctos, presiona nuevamente confirmar</p>
                        <input type="hidden" value="1" name="editar" id="editar" />
                        <div id="divBtn" style="margin-top:2%;">
                            <button type="button" style="margin-bottom: 3%; font-size: 24px; width: 15%;" onclick="location.href = '@Url.Action("listadoUsuarios", "Usuario")'" id="btnRegresar">Regresar</button>
                            <button type="button" style="font-size: 24px; width: 15%;" onclick="validaciones()" id="btnConfirmar">Validar</button>
                            <button type="submit" style="font-size: 24px; width: 15%; display: none;" onclick="asociar()" id="btnConfirmar2">Confirmar</button>
                        </div>
                    </form>
                </center>
        </section>
    </main>
    <script>
        function CONFIRMADO() {
        let resp = "@((string)ViewBag.CONFIRMADO)";
            if (resp !== null && resp !== '') {
                swal({
                    title: "¡Enhorabuena!",
                    text: "¡Transacción realizada con éxito!",
                    type: "success",
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: "OK",
                });
            }
        }
        function asociar() {

            var data = {
                objUsuario: {
                    idUsuario: $("#idUsuario").val()
                },
                objRol: {
                    idRol: $("#idRol").val()
                },
                objHabilitado: {
                    habilitado: $("#habilitado").val()
                }
            }
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("Asociar", "Usuario")',
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                });
        }
        function validaciones() {
            let btn1 = document.getElementById("btnConfirmar");
            let btn2 = document.getElementById("btnConfirmar2");
            let msg = document.getElementById("msg");

            if (combo() == false ) {
                swal({
                    title: "¡Oops!",
                    text: "¡Antes selecciona un usuario, un rol y si deseas que utilice el sistema!",
                    type: "error",
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: "OK",
                });
            } else {
                btn1.style.display = "none";
                btn2.style.display = "inline";
                msg.style.display = "inline";
            }
        }
        function combo() {
            let idUsuario = document.getElementById("idUsuario").value;
            let idRol = document.getElementById("idRol").value;
            let habilitado = document.getElementById("habilitado").value;

            if (idUsuario == 0) {
                return false;
            }
            if (idRol == 0) {
                return false;
            }
            if (habilitado == 3) {
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
