@model Infraestructure.Models.Usuario
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<body onload="logOut()" style="color: black !important;">
    @using (Html.BeginForm("Login", "Usuario"))
    {
        @Html.AntiForgeryToken()


        <div id="form" class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="idUsuarioLogin" style="margin-left: 1.3%; color: #fff !important;">Usuario</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.idUsuario, new { htmlAttributes = new { @class = "form-control", @id = "idUsuarioLogin", @name = "idUsuarioLogin", @style = "width: 70% !important; height: 30px !important;", @Type = "text" } })
                </div>
            </div>


            <div class="form-group">
                <label for="claveLogin" style="margin-left: 1.5%; color: #fff !important;">Contraseña</label>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.clave, new { @class = "form-control", @style = "width: 70% !important; height: 30px !important;", @id = "claveLogin", @name = "claveLogin" })
                    @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
                    @Ajax.ActionLink("¿Aún no te has registrado?", "_Registro", "Usuario", new AjaxOptions
                    {
                        UpdateTargetId = "form",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",
                   LoadingElementId = "ajaxLoader"
                    }, new { @id = "registrarse" })
                </div>
                <div id="ajaxLoader" class="center-block" alt="Cargando..." style="display: none;">
                    <img alt="Cargando..." style="height: 350px; width: 450px; margin-left: -82%; margin-top: -20%; " src="~/img/AjaxLoader.gif" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="margin-top: -9%; margin-left: 46.5%;">
                    <button type="button" style="font-size: 24px; color: black; " onclick="validaciones()" id="btnConfirmar">Validar</button>
                    <input id="btnConfirmar2" type="submit" value="Ingresar" style="font-size: 24px; margin-left: -2% !important; color: black; border: solid 1px gray; border-radius: 6px; background-color: rgba(242, 242, 242, 1); display: none; margin-left: 35%; color: black;" />
                </div>
                <p style="color: lawngreen; display: none; font-size: 18px !important; margin-left: 3%;" id="msgLogin">Campos rellenos sin errores<br /></p>
            </div>
        </div>


    }
<script>
    function validaciones() {
        let btn1 = document.getElementById("btnConfirmar");
        let btn2 = document.getElementById("btnConfirmar2");
        let rol = document.getElementById("idRol");
        let msg = document.getElementById("msgLogin");
        let activo = document.getElementById("activo");

        if (vacio() == false) {
            swal({
                title: "¡Oops!",
                text: "¡Antes rellena todos los campos!",
                type: "error",
                confirmButtonColor: '#3085d6',
                confirmButtonText: "OK",
            });
        } else {
            if (numeros() == false) {
                swal({
                    title: "¡Oops!",
                    text: "¡Solo se permiten numeros en tu numero de cédula!",
                    type: "error",
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: "OK",
                });
            } else {
                msg.style.display = "inline";
                btn1.style.display = "none";
                btn2.style.display = "inline";
                rol.value = 0;
                activo.value = 0;
            }
        }
    }
    function numeros() {
        let idUser = document.getElementById("idUsuarioLogin").value;

        if (isNaN(idUser)) {
            return false;
        }
        return true;
    }
    function vacio() {
        let idUser = document.getElementById("idUsuarioLogin").value;
        let clave = document.getElementById("claveLogin").value;

        if (idUser == null || idUser.length == 0) {
            return false;
        }
        if (clave == null || clave.length == 0) {
            return false;
        }
        return true;
    }
    function logOut() {
        let strValor = "@((string)ViewBag.logOut)";
        let existe = "@((string)ViewBag.EXISTE)";
        let REGISTRADO = "@((string)ViewBag.REGISTRADO)";

        if (strValor !== null && strValor !== '') {
            swal({
                title: "¡Enhorabuena!",
                text: "¡Has cerrado la sesión con éxito!",
                type: "success",
                confirmButtonColor: '#3085d6',
                confirmButtonText: "OK",
            });
        } else {
            if (existe !== null && existe !== '') {
                swal({
                    title: "¡Oops!",
                    text: "¡Ya existe un usuario con ese código, intenta con otro código por favor!",
                    type: "error",
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: "OK",
                });
            } else {
                if (REGISTRADO !== null && REGISTRADO !== '') {
                    swal({
                        title: "¡Enhorabuena!",
                        text: "¡Te haz registrado con éxito!",
                        type: "success",
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: "OK",
                    });
                }
            }
        }
    }
</script>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
}

